div#container{
    background: #21A957;
    position: relative;
    text-align: center;
}

div#extra{
    background: yellow;
    clear: both;
    width: 100%;
    text-align: center;
    height: 100px;
}
div#footer{
    background: blue;
    clear: both;
    text-align: center;
    height: 50px;
}
div#wrapper{
    margin-top: 30px;
    float: right;
    width: 80%;
    background: burlywood;
    text-align: center;
    height: 500px;
}
div#navigation{
    margin-top: 30px;
    width: 20%;
    float: left;
    background: lightslategray;
    text-align: center;
    height: 500px;

}